<html>
    <head>
        <title>Elo_DayOne</title>
    </head>
    <body>
        <div>
            <h1><a href="">elo_DayOne</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">elo</a></h2>
            <p>Be resourceful. Have courage and conviction to follow your dreams. Education and common sense will give you direction in life and above all cultivate and growth these important core values: Integrity, Energy and Intelligence - by Eloisa.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">elo</a></h2>
            <p>Gracias Totales</p>
        </div>
    </body>
</html>
